<div class="container-fluid">

  <a href="/#/settings">Settings</a>

  <h3>Comics for {{self.currentDateString}}</h3>

  <div class="row">
    <div class="col-md-12">
      <a ng-if="self.previousDateString" ng-href="/#/images/{{self.previousDateString}}"><i class="glyphicon glyphicon-chevron-left"></i>Previous</a>
      <a ng-if="self.nextDateString" ng-href="/#/images/{{self.nextDateString}}">Next<i class="glyphicon glyphicon-chevron-right"></i></a>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div ng-if="self.comicsimages.$resolved==false">
        Loading...
      </div>
      <div ng-if="!self.comicsimages.length && self.comicsimages.$resolved==true">
        No comics images found
      </div>
      <div ng-repeat="comicsimage in self.comicsimages" class="comicsimage">
        <h4>{{comicsimage.typeName}}</h4>
        <img ng-src="{{comicsimage.filePath}}" class="img-responsive">
      </div>
    </div>
  </div>


</div>