<div class="container-fluid">

  <a href="/#/images">Images</a>

  <h3>Settings</h3>

  <div class="row">
    <div class="col-md-12">
      <div ng-repeat="comicstype in self.comicstypes" class="comicstype">
        Name: {{comicstype.name}}<br />
        Url: {{comicstype.url}}<br />
        <button ng-click="self.delete(comicstype)">Delete</button>
      </div>
    </div>
    <div class="col-md-12">
      <form>
        <label for="name">Name</label>
        <input id="name" type="text" ng-model="self.newComicstype.name"></input><br />
        <label for="url">URL</label>
        <input id="url" type="text" ng-model="self.newComicstype.url"></input><br />
        <button ng-click="self.save(self.newComicstype)">Add</button>
      </form>
    </div>
  </div>


</div>